<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seat List</title>
</head>
<body>
<h1>Seats</h1>

<a th:href="@{/}">Back to Main Menu</a><br><br>


<a th:href="@{/seats/add}">Add a New Seat</a>
<br><br>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>ID</th>
        <th>Hall Id</th>
        <th>Row</th>
        <th>Column</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="seat : ${seats}">
        <td th:text="${seat.id}"></td>
        <td th:text="${seat.hallId}"></td>
        <td th:text="${seat.seatRow}"></td>
        <td th:text="${seat.seatColumn}"></td>
        <td>
            <a th:href="@{|/seats/${seat.id}|}">View</a> |
            <form th:action="@{|/seats/remove/${seat.id}|}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to remove this seat?');">
                    Remove
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
