<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Seat</title>
</head>
<body>
<h1>Seat Details</h1>

<p><strong>ID:</strong> <span th:text="${seat.id}"></span></p>
<p>
    <strong>Hall ID:</strong> <span th:text="${seat.hall.id}"></span>
    (Name: <span th:text="${seat.hall.name}"></span>)
</p>
<p><strong>Row:</strong> <span th:text="${seat.seatRow}"></span></p>
<p><strong>Column:</strong> <span th:text="${seat.seatColumn}"></span></p>

<br>
<a th:href="@{/seats}">Back to seat List</a>

</body>
</html>