<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Support Staff</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Support Staff Details</h1>

<a th:href="@{/support-staff}">Back to Support Staff List</a>
<br><br>

<!-- Support Staff details card -->
<div class="add-form">

    <label>ID</label>
    <input type="text" th:value="${supportStaff.id}" disabled>

    <label>Name</label>
    <input type="text" th:value="${supportStaff.name}" disabled>

    <label>Salary</label>
    <input type="text" th:value="${supportStaff.salary}" disabled>

    <label>Role</label>
    <input type="text" th:value="${supportStaff.role}" disabled>

</div>

</body>
</html>
