<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Theatre</title>
</head>
<body>

<h1>Edit Theatre</h1>

<form th:object="${theatre}" th:action="@{|/theatres/update/${theatre.id}|}" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
    <span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></span>
    <br><br>

    <label for="city">City:</label>
    <input type="text" id="city" th:field="*{city}" required>
    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red;"></span>
    <br><br>

    <label for="parkingCapacity">Parking Capacity:</label>
    <input type="number" id="parkingCapacity" th:field="*{parkingCapacity}" required>
    <span th:if="${#fields.hasErrors('parkingCapacity')}" th:errors="*{parkingCapacity}" style="color: red;"></span>
    <br><br>

    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/theatres}">Back</a>

</body>
</html>