<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Screening List</title>
</head>
<body>
<h1>Screenings</h1>

<a th:href="@{/}">Back to Main Menu</a><br><br>


<a th:href="@{/screenings/add}">Add a New Screening</a>
<br><br>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>ID</th>
        <th>Hall Id</th>
        <th>Movie Id</th>
        <th>Date (YYYY-MM-DD)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="screening : ${screenings}">
        <td th:text="${screening.id}"></td>
        <td th:text="${screening.hall.id}"></td>
        <td th:text="${screening.movie.id}"></td>
        <td th:text="${screening.date}"></td>
        <td>
            <a th:href="@{|/screenings/view/${screening.id}|}">View</a> |
            <form th:action="@{|/screenings/remove/${screening.id}|}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to remove this screening?');">
                    Remove
                </button>
            </form>
            <a th:href="@{|/screenings/update/${screening.id}|}">Update</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>