<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie Management System</title>
</head>
<body>
<h1>Customer Management</h1><br><br>
<a th:href="@{/customers}" style>Customer Management</a> <br>
<a th:href="@{/tickets}">Ticket Management</a> <br><br>
<h1>Theatre Management</h1><br><br>
<a th:href="@{/movies}">Movie Management</a> <br>
<a th:href="@{/screenings}">Screening Management</a><br>
<a th:href="@{/theatres}">Theatre Management</a> <br>
<a th:href="@{/halls}">Hall Management</a><br>
<a th:href="@{/seats}">Seat Management</a> <br><br>
<h1>Staff Management</h1><br><br>
<a th:href="@{/supportstaff}">Support Staff Management</a> <br>
<a th:href="@{/technicaloperator}">Technical Operator Management</a> <br>
<a th:href="@{/staffassignment}">Staff Assignment Management</a> <br>

</body>
</html>