<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Staff Assignment</title>
</head>
<body>
<h1>Add New Staff Assignment</h1>

<form th:action="@{/staff-assignments/add}" method="post">
    <label for="screeningId">Screening ID:</label><br>
    <input type="text" id="screeningId" name="screeningId" required><br><br>

    <label for="staffId">Staff ID:</label><br>
    <input type="text" id="staffId" name="staffId" required><br><br>

    <button type="submit">Add Assignment</button>
</form>

<br>
<a th:href="@{/staff-assignments}">Back to List</a>

</body>
</html>
