<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Staff Assignment</title>
</head>
<body>

<h1>Edit Staff Assignment</h1>

<form th:action="@{|/staff-assignments/update/${staffAssignment.id}|}" method="post">

    <label for="screeningId">Screening Id:</label>
    <input type="text" id="screeningId" name="screeningId" th:value="${staffAssignment.screeningId}" required>
    <br><br>

    <label for="staffId">Staff Id:</label>
    <input type="text" id="staffId" name="staffId" th:value="${staffAssignment.staffId}" required>
    <br><br>

    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/staff-assignments}">Back</a>

</body>
</html>
