<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Staff Assignment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Edit Staff Assignment</h1>

<form th:object="${staffAssignment}" th:action="@{|/staff-assignments/update/${staffAssignment.id}|}" method="post">

    <label for="screeningId">Screening:</label><br>
    <select id="screeningId" name="screeningId" required>
        <option value="">-- Select Screening --</option>
        <option th:each="s : ${availableScreenings}"
                th:value="${s.id}"
                th:text="|ID: ${s.id}, Date: ${s.date}, Movie: ${s.movie.title}|">
            Screening Details
        </option>
    </select>
    <span th:if="${#fields.hasErrors('screening')}" th:errors="*{screening}" style="color: red;"></span>
    <br><br>

    <label for="staffId">Staff:</label><br>
    <select id="staffId" name="staffId" required>
        <option value="">-- Select Staff --</option>
        <option th:each="st : ${availableStaff}"
                th:value="${st.id}"
                th:text="|ID: ${st.id}, Name: ${st.name}|">
            Staff Details
        </option>
    </select>
    <span th:if="${#fields.hasErrors('staff')}" th:errors="*{staff}" style="color: red;"></span>
    <span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></span>
    <br><br>

    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/staff-assignments}">Back</a>

</body>
</html>