<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Staff Assignment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Staff Assignment Details</h1>

<a th:href="@{/staff-assignments}">Back to Staff Assignment List</a>
<br><br>

<!-- Staff Assignment details card -->
<div class="add-form">

    <label>ID</label>
    <input type="text" th:value="${staffAssignment.id}" disabled>

    <label>Screening</label>
    <input type="text"
           th:value="${'Title: ' + staffAssignment.screening.movie.title+ ' (Date: ' + staffAssignment.screening.date + ')'}"
           disabled>

    <label>Staff</label>
    <input type="text"
           th:value="${'ID: ' + staffAssignment.staff.id + ' (Name: ' + staffAssignment.staff.name + ')'}"
           disabled>

</div>

</body>
</html>
